body {
	padding-top: 110px;
	padding-bottom: 30px;
	background:#f8f8f8 url(images/bg-web.jpg) no-repeat 50% 0;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	color:#282828;
}
.boxCenter{
	
}
.form-signin {
	max-width: 430px;
	padding: 15px 50px;
	margin: 0 auto;
	text-align: center;
	background-color:#fff;
	border-radius:5px;
}
.navbar{
	background-color:#fff;
	height: 60px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.kudos,
.team{
	padding:0;
}
.kudosTimeline,
.team{
	background-color:#fff;
	box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.1);
}
.userImage,
.userData,
p.darKudo{
	float:left;
}
.userImage{
	width: 68px;
	height: 68px;
	margin-right:10px;
}
.navbar .userImage{
	margin-top: 9px;
	width: 40px;
	height: 40px;
}
h3.teamHeader{
	text-align: center;
	font: normal 30px/70px 'Open Sans', sans-serif !important;
	border-bottom:1px solid #d2d2d2;
	padding: 0;
	margin: 0;
}
.user{
	display:block;
	border-bottom:1px solid #d2d2d2;
	overflow: hidden;
}
.user:first-child{
	border-top:1px solid #d2d2d2;
}

.userName{
	font: bold 18px/18px 'Open Sans', sans-serif;
	padding: 5px 0;
	margin: 0;
}
.kudosCount{
	float: left;
	padding-left: 32px;
	padding-right: 40px;
	background: transparent url(images/kudos-ico.gif) no-repeat 0 0;
	font: normal 10px/10px 'Open Sans', sans-serif;
	color: #247e8a;
	text-align: center;
	text-transform: uppercase;
}
.kudosCount li{
	padding-right:16px;
	margin-top: -2px;
}

.kudosNumber{
	font: bold 26px/26px 'Open Sans', sans-serif;
	display: block;
}
a.darKudo{
	background-color: #5ee5f7;
	border-color:#5ee5f7;
	font: bold 14px 'Open Sans', sans-serif;
	text-transform: uppercase;
}


.kudosTimeline{
	background-color: #fff;
	margin-right: 20px;
	height: 300px;
}


.kudoUnit{
	padding: 15px;
	display:block;
	border-bottom:1px solid #d2d2d2;
	overflow: hidden;
	clear: both;
}
.kudoUnit .userImage{
	width: 68px;
	height: 68px;
}

.kudoUnit:first-child{
	border-top:1px solid #d2d2d2;
}

.kudoText{
	background-color:#4d4d4d;
	color:#fff;
	font: italic normal  26px 'Open Sans', sans-serif;
	padding: 25px;
	float: left;
	min-height: 133px;
	width: 70%;
	margin-right: 10px;
}
.kudoMensaje .userImage{
	width: 133px;
	height: 133px;
	float: left;
}
.kudoMensaje{
	margin-top:0px;
	margin-left:80px;
	overflow: hidden;
}
.tiempo{
	display: block;
	font: normal 10px 'Open Sans', sans-serif;
	text-transform: uppercase;
	padding-top:13px;
}

.boxCenter img{
	margin:60px 0 20px;
}
.boxCenter p{
	font: normal 16px 'Open Sans', sans-serif;
	padding: 0;
}

.boxCenter button{
	background-color: #5ee5f7;
	border-color:#5ee5f7;
	font: bold 14px 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
